# HwBinder IPC from client to server
binder_call(hal_conquer_camera_motor_client, hal_conquer_camera_motor_server)

add_hwservice(hal_conquer_camera_motor_server, hal_conquer_camera_motor_hwservice)
allow hal_conquer_camera_motor_client hal_conquer_camera_motor_hwservice:hwservice_manager find;
